.no-link {
	visibility: hidden;
}
.title-nav {
	text-align: center;
}

.verse-nav,
.ch-nav {
	padding: 0;
	text-align: center;
	line-height: 2;
}
.verse-nav span,
.ch-nav span {
}
.verse-nav span a,
.ch-nav span a {
	padding: 5px;
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;
}
#toc .t {
	width: 100%;
	margin: 0;
	padding: 0;
	display: block;
}
#toc .t .t-row {
	width: 100%;
	padding: 5px 0 5px 0;
	border-bottom: 1px dashed #000;
	display: block;
	margin: 0;
}
#toc .t .t-row.t-40,
#toc .t .t-row.t-1 {
	border-top: 1px dashed #000;
}
#toc .t .book-link {
	text-align: left;
}
#toc .t .toc-shortname {
	text-align: right;
	float: right;
}
.hide-this {
	display: none;
}
.center {
	text-align: center;
}
.verse {
	margin-bottom: 0px;
	margin-top: 0px;
	text-indent: 0.8em;
}
.woodcuts {
	text-align: center;
}
.verse-anchor sup {
	color: #ddd;
}
