.title-nav {
	text-align: center;
}

.ch-nav {
	padding: 0;
	list-style-type: none;
	text-align: center;
}
.ch-nav li {
	display: inline-block;
	margin-bottom: 10px;
}
.ch-nav li a {
	padding: 5px;
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;
}
#toc ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#toc ul li {
	margin: 5px 0;
	border-bottom: 1px dashed #000;
}
#toc ul li .book-link {
	display: inline-block;
	width: 50%;
	text-align: left;
}
.toc-shortname {
	display: inline-block;
	text-align: right;
	width: 50%;
}
.hide-this {
	display: none;
}
.center {
	text-align: center;
}
.verse {
	margin-bottom: 0px;
	margin-top: 0px;
	text-indent: 0.8em;
}
.woodcuts {
	text-align: center;
}
.verse-anchor sup {
	color: #ddd;
}
