.title-nav {
	margin: 0;
	list-style-type: none;
	text-align: center;
	padding: 0.5em 0;
}
.title-nav li {
	display: inline-block;
	margin: 0;
	padding: 5px 10px;
}
.title-nav li strong {
	padding: 5px 10px;
}
.title-nav .left-pos {
	/* float: left; */
}
.title-nav .right-pos {
	/* float: right; */
}

.title-nav li span {
	color: #ccc;
}

/* .title-nav li.left-li {
	float: left;
}
.title-nav li.right-li {
	float: right;
} */
.toc {
	padding: 0;
}
.ch-nav {
	padding: 0;
	list-style-type: none;
	text-align: center;
}
.ch-nav li {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}
.ch-nav li a {
	display: block;
	padding: 3px 7px;
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;
}
ul.toc {
	list-style-type: none;
}
ul.toc li {
	margin: 5px 0;
	border-bottom: 1px dashed #000;
}
ul.toc li .book-link {
	display: inline-block;
	width: 50%;
	text-align: left;
}
.hide-this {
	display: none;
}
.center {
	text-align: center;
}
.toc-shortname {
	display: inline-block;
	text-align: right;
	width: 50%;
}
.verse {
	margin-bottom: 0px;
	margin-top: 0px;
	text-indent: 0.8em;
}
.woodcuts {
	text-align: center;
}
.verse-anchor sup {
	color: #ddd;
}
